@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono.ttf') format('truetype')
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

:root, body, f-pl, #content {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #662C91;
}

#content {
    background-color: #F38D68;
    overflow-y: auto;
}

#startup-animation{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    pointer-events: none;
}

.center-button {
    font-size: 14px;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    margin: 0;
    margin-left: 75px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: #662C91;
    box-sizing: border-box;
}

.spotify-back {
    background-color: #1ed760;
}

[display-text] {
    width: 100%;
    padding: 0 25px;
    margin-bottom: 20px;
}

[display-text] input{
    font-family: 'Roboto Mono';
    font-size: 14px;
    width: 350px;
    height: 30px;
    border-radius: 4px;
    padding: 0 10px;
    margin: 0;
    border: none;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

[display-text] input:focus{
    outline: none !important;
    border: none !important;
}

[display-text]::before{
    font-size: 12px;
    display: block;
    content: attr(display-text);
    margin-bottom: 2px;
}

[display-text][validation-error]::after{
    color: rgb(70, 0, 0);
    font-size: 12px;
    display: block;
    content: attr(validation-error);
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 32px;
}
h2 {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

#startup-animation div {
    width: 25%;
    height: 100%;
    background-color: #662C91;
    animation: 0.75s ease-in calc(0.5s * var(--start) / 4) slide-up forwards;
    box-shadow: 0 -10px 0 10px #662C91;
}