<template id="estb-document">
    <div id="content">
        <f-in f:in-id="data.page + '-page'"></f-in>
    </div>

    <div id="startup-animation">
        <div style="--start: 1"></div>
        <div style="--start: 2"></div>
        <div style="--start: 3"></div>
        <div style="--start: 4"></div>
    </div>

</template>

<template id="home-page">

</template>

<template id="init-page">
    <h1>
        Willkommen bei Cafe Play
    </h1>
    <h2>
        Bitte geben sie diese relevanten Daten für ihre Anmeldung an
    </h2>
    <div display-text="Anzeigename">
        <input name="name" type="text" minlength="4" maxlength="32" required evt:input="validateInputs()">
    </div>
    <div display-text="Benutzername">
        <input name="login" type="text" minlength="4" maxlength="16" pattern="[\da-z_\-]*" required evt:input="validateInputs()">
    </div>
    <div display-text="Passwort">
        <input name="password" type="password" minlength="6" required evt:input="validateInputs()">
    </div>
    <div display-text="Passwort wiederholen">
        <input name="password-repeat" type="password" required evt:input="validateInputs()">
    </div>

    <button class="center-button" evt:click="submitInit()">
        Okay
    </button>
    
</template>

<template id="oauth-page">
    <h1>
        Bei Spotify Einloggen
    </h1>
    <h2>
        Damit die Besucher ihrer Einrichtung ihre Musikwiedergabe steuern können müssen sie Spotify mit Cafe Play verknüpfen.
    </h2>
    <button class="center-button spotify-back" evt:click="performSpotifyOauth()">
        <b>Bei Spotify Anmelden</b>
    </button>
</template>

<template id="loading-page">
    <img class="loading" src="loading.svg">
</template>