<template id="user-document">
    <div id="content">
        
    </div>

    <div id="startup-animation">
        <div style="--start: 1"></div>
        <div style="--start: 2"></div>
        <div style="--start: 3"></div>
        <div style="--start: 4"></div>
    </div>

</template>